/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
.nav_bar_container {
height: 30px;
}
.nav_bar {
float: right;
height: 30px;
margin: 0;
list-style: none;
}
.nav_bar li {
width: 90px;
height: 25px;
float: left;
margin: 0 5px;
}
.nav_bar li a {
width: 90px;
height: 25px;
text-align: center;
line-height: 25px;
display: block;
background: #efefef;
border-radius: 5px;
color: #666;
text-decoration: none;
}
.nav_bar li a:hover {
color: #fff;
background: #333;
text-decoration: none;
}

