// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.msgs {

}
.msgs_f {
width: 70px;
background: #efefef;
text-align: center;
font-weight: bold;
}
.msgs_v {
width: 150px;
}
.required {
color: #ff0000
}
