// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.msgs {

}
th.msg_n {
width: 100px;
}
th.msg_t {
min-width: 100px;
}
th.msg_p {
width: 130px;
}
th.msg_c {
width: 130px;
}
td.msg_n {
white-space: nowrap;
width: 100px;
text-align: center;
}
td.msg_t {
white-space: nowrap;
min-width: 100px;
}
td.msg_p {
white-space: nowrap;
width: 130px;
font-size: 11px;
text-align: center;
}
td.msg_c {
white-space: nowrap;
width: 130px;
font-size: 11px;
text-align: center;
}
.required {
color: #ff0000
}
