// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.msgs {

}
.msgs_s {
height: 10px;
overflow: hidden;
}
.msgs_f {
width: 70px;
background: #efefef;
text-align: center;
font-weight: bold;
white-space: nowrap;
}
.msgs_n {
width: 100px;
}
.msgs_d {
width: 130px;
font-size: 11px;
}
.msgs_t {
width: 250px;
}
.msgs_a {
white-space: nowrap;
}
.required {
color: #ff0000
}
